<!-- ******APIS****** -->
<section id="apis" class="story section">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2" class="h4">Format Conversion APIs</td>
                        </tr>
                    </thead>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/expandcontainer#overview" class="white-link">Expand Container</a></td>
                        <td>Extracts the contents of a container file.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/ocrdocument#overview" class="white-link">OCR Document</a></td>
                        <td>Extracts text from an image.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/storeobject#overview" class="white-link">Store Object</a></td>
                        <td>Stores a file.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/extracttext#overview" class="white-link">Text Extraction</a></td>
                        <td>Extracts text from a file.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/viewdocument#overview" class="white-link">View Document</a></td>
                        <td>Converts a document to HTML format for viewing in a Web browser.</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2" class="h4">Image Analysis APIs</td>
                        </tr>
                    </thead>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/recognizebarcodes#overview" class="white-link">Barcode Recognition</a></td>
                        <td>Detects and decodes 1D and 2D barcodes in an image that you provide.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/detectfaces#overview" class="white-link">Face Detection</a></td>
                        <td>Detects faces in an image.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/recognizeimages#overview" class="white-link">Image Recognition</a></td>
                        <td>Recognizes a known set of images in an image that you provide.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/ocrdocument#overview" class="white-link">OCR Document</a></td>
                        <td>Extracts text from an image.</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2" class="h4">Search APIs</td>
                        </tr>
                    </thead>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/findrelatedconcepts#overview" class="white-link">Find Related Concepts</a></td>
                        <td>Returns the best terms and phrases in documents that match the specified query.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/findsimilar#overview" class="white-link">Find Similar</a></td>
                        <td>Finds documents that are conceptually similar to your text or a document.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/getparametricvalues#overview" class="white-link">Get Parametric Values</a></td>
                        <td>Performs parametric search that combines query text with one more parametric field names.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/querytextindex#overview" class="white-link">Query Text Index</a></td>
                        <td>Searches for items that match your specified natural language text, Boolean expressions, or fields.</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2" class="h4">Text Analysis APIs</td>
                        </tr>
                    </thead>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/extractentities#overview" class="white-link">Entity Extraction</a></td>
                        <td>Extracts entities (words, phrases, or blocks of information) from your input text.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/expandterms#overview" class="white-link">Expand Terms</a></td>
                        <td>Returns a list of matching possible terms for a wildcard, stem, or fuzzy expansion.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/highlighttext#overview" class="white-link">Highlight Text</a></td>
                        <td>Highlights the specified terms in the text you submit.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/identifylanguage#overview" class="white-link">Language Identification</a></td>
                        <td>Identifies the language of a piece of text.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/analyzesentiment#overview" class="white-link">Sentiment Analysis</a></td>
                        <td>Analyzes text for positive or negative sentiment.</td>
                    </tr>
                    <tr>
                        <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/tokenizetext#overview" class="white-link">Text Tokenization</a></td>
                        <td>Returns information about the terms in the specified text.</td>
                    </tr>
                </table>
            </div>
        </div>

    </div><!--//container-->
</section><!--//apis-->
