<!-- ******FAQ****** -->
<section id="faq" class="faq section">
    <div class="container">
        <div class="row">
            <h2 class="title text-center">Frequently Asked Questions</h2>
            <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Are there any demos that I can look at?</h3>
                    <p class="answer">Yes! The <a href="https://console.ng.bluemix.net/solutions/" target="_blank">IBM Bluemix Solutions page</a> showcases the capabilities of the IBM Bluemix platform and the variety of ways they can be used within your app. </p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>If I have questions, where do I post them?</h3>
                    <p class="answer">If you have questions regarding IBM Bluemix pertaining to any topcoder challenges you are participating in, please post them to the discussion forum for that challenge. Developer evangelists for IBM will be monitoring these discussions and can certainly help out. If your questions are more general to IBM Bluemix as a product, you can contact <a href="https://www.idolondemand.com/developer/support" target="_blank">developer support</a>.</p>
                </div><!--//item-->
            </div><!--//faq-col-->
            <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>How do I sign up for IBM Bluemix?</h3>
                    <p class="answer">You can <a href="https://apps.admin.ibmcloud.com/manage/trial/bluemix.html" target="_blank">get started for free on the IBM Bluemix site</a>. As a topcoder member you'll be one of the first developers to try out IBM Bluemix . You'll also play a pivotal role in adding your voice to IBM Bluemix product development.</p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Where can I find the API docs?</h3>
                    <p class="answer">You can access the Developer Documentation here.</p>
                </div><!--//item-->                
            </div><!--//faq-col-->
        </div><!--//row-->
        <div class="more text-left">
            <div class="row">
              <div class="col-md-8"><img src="images/poweredby.png"></div>
              <div class="col-md-4">
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
              </div>
            </div>
        </div>
    </div><!--//container-->
</section><!--//faq-->
