<!-- ******FEATURES****** -->
<section id="features" class="features section">
    <div class="container">
        <div class="row">
            <h2 class="title text-center sr-only">Features</h2>
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-cogs"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://console.ng.bluemix.net/solutions/open-architecture" target="_blank">Build your apps, your way</a></h3>
                    <p>Power your apps with instant runtimes, IBM containers (via Docker) or VMs then let Bluemix handle the rest.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-puzzle-piece"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://console.ng.bluemix.net/?ace_base=true/#/store/cloudOEPaneId=store" target="_blank">Extend apps with services</a></h3>
                    <p>Choose from IBM, third-party, and community services to extend the functionality of your apps.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-trophy"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://console.ng.bluemix.net/solutions/watson" target="_blank">Watson</a></h3>
                    <p>Build cognitive apps that help enhance, scale, and accelerate human expertise.</p>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->

        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-phone"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://console.ng.bluemix.net/solutions/mobilefirst" target="_blank">MobileFirst</a></h3>
                    <p>The IBM MobileFirst Platform is the enterprise experience for building multi-platform, native or hybrid, Android and iOS apps.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-cloud"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://console.ng.bluemix.net/solutions/hybrid-cloud" target="_blank">Hybrid Cloud</a></h3>
                    <p>Bluemix helps companies to move with speed and agility across any combination of public, private, and on-premises cloud.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-lock"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://console.ng.bluemix.net/solutions/security" target="_blank">Security by design</a></h3>
                    <p>Protect access to apps and workloads, scan apps for vulnerabilities and protect your data.</p>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->

        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-rocket"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://console.ng.bluemix.net/solutions/devops" target="_blank">DevOps</a></h3>
                    <p>Develop, track, plan, deploy, monitor, and scale: the right tools, in one place.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-signal"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://console.ng.bluemix.net/solutions/bigdata" target="_blank">Big Data</a></h3>
                    <p>Empower developers to rapidly derive insight from all data and extend decision making across the enterprise.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-magic"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://console.ng.bluemix.net/solutions/iot" target="_blank">Internet of Things</a></h3>
                    <p>Rapidly compose and extend apps that take advantage of data and analytics from your connected devices and sensors.</p>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//features-->
