<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header has-pattern">
    <div class="container">
        <div class="row">
            <div class="overview col-md-8 col-sm-12 col-xs-12">
                <h2 class="title">Compete in topcoder challenges with IBM Bluemix to develop a new generation of applications. Build your apps, your way.</h2>
                <p style="font-size:16px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada nisl odio, et posuere arcu gravida maximus. Pellentesque pellentesque sagittis massa, dapibus gravida lacus venenatis non. In felis ligula, vehicula at pellentesque sed, gravida vel orci. Suspendisse rhoncus quam sed ante mollis fermentum. Quisque suscipit rutrum leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <p style="font-size:16px; padding-bottom:20px">Ready to innovate? <a href="http://www.topcoder.com/?action=callback" target="_blank" class="white-link-underlined">Sign up now</a> and compete in <a class="scrollto white-link-underlined" href="#challenges">topcoder challenges</a> to build something amazing with us. </p>
                <ul class="summary">
                    <li>Compete in development challenges for cash, prizes & bragging rights</li>
                    <li>Get up to speed on the latest technology</li>
                    <li>Demonstrate your proficiency in IBM Bluemix technologies</li>
                    <li>Enhance your topcoder profile with IBM Bluemix technology badges</li>
                </ul>
            </div><!--//overview-->

            <!--// iPhone starts -->
            <div class="phone iphone iphone-black col-md-4 col-sm-12 col-xs-12 ">
                <div class="iphone-holder phone-holder">
                    <div class="iphone-holder-inner">
                        <div class="slider flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="images/iphone/iphone-slide-3.png"  alt="" />
                                </li>
                                <li>
                                    <img src="images/iphone/iphone-slide-2.png"  alt="" />
                                </li>
                                <li>
                                    <img src="images/iphone/iphone-slide-1.png"  alt="" />
                                </li>
                            </ul><!--//slides-->
                        </div><!--//flexslider-->
                    </div><!--//iphone-holder-inner-->
                </div><!--//iphone-holder-->
            </div><!--//iphone-->
            <!--// iPhone ends -->

        </div><!--//row-->
    </div><!--//container-->
</section><!--//promo-->
