<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="img-bg-bottom img-bg-soft tint-bg" style="background-image: url(https://farm8.staticflickr.com/7515/15823114475_7c59790da0_b.jpg);">
  <div class="container inner">
    <div class="row">
      <div class="col-md-8">
        <header>
          <h1>Fun Challenges</h1>
          <p>Ready to get started with your first IBM Bluemix development challenge?</p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->


<!-- ============================================================= SECTION – HERO : END ============================================================= -->

<div class="container inner" style="padding-top:60px">

  <div class="row">

    <div class="row">
      <div class="col-sm-8 center-block text-center inner-top-xs">
        <h1>Build your first app with Watson Cognitive Services</h1>
        <p>We've put together a fun challenge to get you up and running with IBM Bluemix. You'll use the
          <a href="https://console.ng.bluemix.net/solutions/watson" target="_blank">Watson Cognitive Services</a> to clone and
          modify a simple Node.js app to analyze images. The <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/visual-recognition.html" target="_blank">Visual Recognition service</a>
          analyzes the visual content of images and video frames to understand the content directly without the need for a textual description.</p>

          <p>This will be a sweepstakes challenge. At the end of each week we'll randomly select a member from the week's submissions and award them with $100. Check back to see the winners!</p>

          <p><a href="{{funChallengeUrl}}" target="_blank" class="btn btn-large">Topcoder Challenge Details</a></p>
      </div><!-- /.col -->
    </div><!-- /.row -->

  </div><!-- /.row -->

</div><!-- /.container -->

{{> bluemix_signup}}
