<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="img-bg-bottom img-bg-soft tint-bg" style="background-image: url(https://farm8.staticflickr.com/7515/15823114475_7c59790da0_b.jpg);">
  <div class="container inner">
    <div class="row">
      <div class="col-md-8">
        <header>
          <h1>Fun Challenges</h1>
          <!--<p>Ready to get started with your first IBM Bluemix development challenge?</p>-->
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->
<div class="container inner" style="padding-top:60px;padding-bottom:10px;">

  <div class="row">

    <div class="row">
      <div class="col-sm-8 center-block text-center inner-top-xs">
        <h1>Weekly Bluemix Registration Sweepstakes</h1>
				<p>
                    We partnered with IBM Marketing groups to sponsor 26 Registration Sweepstakes challenges launched to drive Bluemix registration.
				</p>

		<!--
          <p><a href="https://www.topcoder.com/challenge-details/{{registerChallengeId}}/?type=develop" target="_blank" class="btn btn-large">Topcoder Challenge Details</a></p>-->
      </div><!-- /.col -->
    </div><!-- /.row -->

  </div><!-- /.row -->

</div><!-- /.container -->

<!-- ============================================================= SECTION – HERO : END ============================================================= -->

<div class="container inner" style="padding-top:60px">

  <div class="row">

    <div class="row">
      <div class="col-sm-8 center-block text-center inner-top-xs">
        <h1>Bluemix Fun Challenges</h1>
        <p>We partnered with IBM Marketing groups sponsoring 25 Fun Challenges encouraging members to dive into Bluemix and create unique Bluemix applications leveraging Watson Services.</p>

          <p>Please see fun challenge details below:</p>
          <div class="col-sm-11 center-block inner-top-xs" style="text-align: left">
          <table class="table table-hover">
              <thead>
              <tr>
                  <th>Challenge</th>
                  <th></th>
                  <th>Description</th>
              </tr>
              </thead>
              <tbody>

                  <tr>
                      <td>
                          Watson - Visual Recognition Service
                      </td>
                      <td></td>
                      <td>
                          Classify a random image using Watson Visual Recognition Service
                      </td>

                  </tr>
                  <tr>
                      <td>
                          Watson - Machine Translation
                      </td>
                      <td></td>
                      <td>
                          Use Node Red and 3 Watson services to build a workflow that will annotate spoken words, translate them from English to Spanish, and read them back to you
                      </td>

                  </tr>
                  <tr>
                      <td>
                          Watson - Personality Insights
                      </td>
                      <td></td>
                      <td>
                          Use Watson Personality Insights API to detect a personality type based on twitter account content
                      </td>

                  </tr>
                  <tr>
                      <td>
                          Watson - Tone Analyzer
                      </td>
                      <td></td>
                      <td>
                          Use Watson Tone Analyzer to analyze jokes from a REST API
                      </td>

                  </tr>
                  <tr>
                      <td>
                          Watson - Language Translation
                      </td>
                      <td></td>
                      <td>
                          Use Watson Language Translation Service to translate a topcoder challenge text from English to the language of your choice
                      </td>

                  </tr>

              </tbody>
          </table>
            </div>
      </div><!-- /.col -->
    </div><!-- /.row -->

  </div><!-- /.row -->

</div><!-- /.container -->

{{> bluemix_signup}}
