<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="img-bg-bottom img-bg-soft tint-bg" style="background-image: url(https://farm8.staticflickr.com/7515/15823114475_7c59790da0_b.jpg);">
  <div class="container inner">
    <div class="row">
      <div class="col-md-8">
        <header>
          <h1>Fun Challenges</h1>
          <p>Ready to get started with your first IBM Bluemix development challenge?</p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->
<div class="container inner" style="padding-top:60px;padding-bottom:10px;">

  <div class="row">

    <div class="row">
      <div class="col-sm-8 center-block text-center inner-top-xs">
        <h1>Register with Bluemix Weekly Sweepstakes</h1>
				<p>
					Enter your Bluemix ID in the Challenge to earn a shot at $50. 
				</p>
				<p>This will be a sweepstakes challenge.Register with the link on this site, and at the end of each week we'll randomly select a member
 				  and award them with $50.Check back to see the winners!
				</p>
				
          <p><a href="https://www.topcoder.com/challenge-details/{{registerChallengeId}}/?type=develop" target="_blank" class="btn btn-large">Topcoder Challenge Details</a></p>
      </div><!-- /.col -->
    </div><!-- /.row -->

  </div><!-- /.row -->

</div><!-- /.container -->

<!-- ============================================================= SECTION – HERO : END ============================================================= -->

<div class="container inner" style="padding-top:60px">

  <div class="row">

    <div class="row">
      <div class="col-sm-8 center-block text-center inner-top-xs">
        <h1>Build your app with Language Translation Service</h1>
        <p>We've put together a fun challenge to get you up and running with IBM Bluemix. You'll use the
          <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/language-translation.html" target="_blank">Language Translation Service</a>.
		 The IBM Watson Language Translation service converts text input in one language into a destination language for the end user using background from domain-specifc models.
		  
      <p>This will be a sweepstakes challenge. At the end of each week we'll randomly select a member from the week's submissions and award them with $250. These challenges should require no more than 30 minutes to complete. Check back to see the winners!</p>

          <p><a href="https://www.topcoder.com/challenge-details/{{funChallengeId}}/?type=develop" target="_blank" class="btn btn-large">Topcoder Challenge Details</a></p>
      </div><!-- /.col -->
    </div><!-- /.row -->

  </div><!-- /.row -->

</div><!-- /.container -->

{{> bluemix_signup}}
