<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="img-bg-bottom img-bg-soft tint-bg" style="background-image: url(https://farm8.staticflickr.com/7551/15816043682_a0261a6627_b.jpg);">
  <div class="container inner">
    <div class="row">
      <div class="col-md-8">
        <header>
          <h1>Code Blitz</h1>
          <p>More Code + More Wins = Extra Bonus Money!</p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->


<!-- ============================================================= SECTION – HERO : END ============================================================= -->

<div class="container inner" style="padding-top:60px">

  <div class="row">

    <div class="row">
      <div class="col-sm-8 center-block text-center inner-top-xs">
        <h1>Code Blitz!</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->

  </div><!-- /.row -->

</div><!-- /.container -->

<!-- ============================================================= SECTION – GET STARTED ============================================================= -->

{{> bluemix_signup}}
