<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="img-bg-bottom img-bg-soft tint-bg" style="background-image: url(https://farm8.staticflickr.com/7551/15816043682_a0261a6627_b.jpg);">
  <div class="container inner">
    <div class="row">
      <div class="col-md-8">
        <header>
          <h1>Code Blitz</h1>
          <p>Now is your chance to get involved in the Spring in to Bluemix event and reap the benefits in the form of monthly cash bonuses in the SiBM Code Blitz!</p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->


<!-- ============================================================= SECTION – HERO : END ============================================================= -->

<div class="container inner" style="padding-top:60px">

  <div class="row">

    <div class="row">
      <div class="col-sm-8 center-block inner-top-xs">
        <h1>Code Blitz Rules</h1>
        <p>The SiBM Code Blitz will run from 6/1/2015 to 9/30/2015. Any challenges launched in May will be included in the June Prize Pool.  The SiBM Code Blitz will have two tracks: Design and Development.  The Prize Pool for each track will grow by $200 with every SiBM challenge posted in that track within that month's timeframe (designated by SiBM in the challenge title). Topcoder will set a guaranteed minimum Prize Pool of $1,000 for each track of the SiBM Code Blitz per month (the pool will never be less than that amount).</p>

        <h3>SiBM Code Blitz Track Breakdown</h3>

        <ul class="arrowed">
  				<li>Development Challenge Types</li>
            <ul class="circled">
  						<li>Code</li>
  						<li>Assembly</li>
  						<li>UI Prototype</li>
  					</ul>
  				<li>Design Challenge Types</li>
            <ul class="circled">
              <li>Wireframe</li>
              <li>Design Concepts (Storyboard)</li>
              <li>Design Production (Storyboard)</li>
            </ul>
  			</ul>

        <p>Other challenge types can be added at the SiBM administrator’s discretion.</p>

        <p>Points = Dollars won.  For example, if you win $1,000 on an eligible challenge, that will equate to 1,000 points towards this challenge (Note: This does not include final fixes or other prizes beyond the set prizes in each challenge).  The more challenges we launch, the larger the SiBM Code Blitz Prize Pool will grow.  We expect over $20,000 in prizes!</p>

        <p>In addition to the competition prize earnings, the top ten (10) point-getters for each track in each month will receive a smaller prize. The SiBM Code Blitz prize pool will be awarded in bonus prizes each month and will be distributed as follows:</p>

        <h3>Top 10 Monthly Payout for each Track</h3>

        <ol style="margin-left:25px">
          <li>25%</li>
          <li>15%</li>
          <li>12%</li>
          <li>10%</li>
          <li>9%</li>
          <li>8%</li>
          <li>7%</li>
          <li>6%</li>
          <li>5%</li>
          <li>3%</li>
        </ol>

        <p>If there is a tie for a position among the top 10 finishers, the tie will be resolved in the following manner (in order):</p>

        <ol style="margin-left:25px">
          <li>The competitor who has the most higher-placed submissions in the month.</li>
          <li>If a tie still remains, then the competitor with the highest average individual competition score of the lesser number of competitions used to develop the placement scores for the tied competitors.</li>
          <li>If a tie still remains, then the tied competitors will share equally the prize money at hand.</li>
        </ol>

        <p>SiBM Code Blitz prize money will be paid at the end of each month within 60 days of announcing the Top Ten money winners of each track.</p>

        <h2>Good Luck!!</h2>

      </div><!-- /.col -->
    </div><!-- /.row -->

  </div><!-- /.row -->

</div><!-- /.container -->

<!-- ============================================================= SECTION – GET STARTED ============================================================= -->

{{> bluemix_signup}}
