<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="light-bg img-bg img-bg-softer" style="background-image: url(https://farm4.staticflickr.com/3738/10823474603_8b27dd4cd0_b.jpg);">
  <div class="container inner" style="padding-top:40px;padding-bottom:40px">
    <div class="row">
      <div class="col-md-8">
        <header>
          <h1>Design Challenges</h1>
          <p>Compete in IBM Bluemix related design challenges to win prize money and establish your street cred.</p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->

<div class="container inner" style="padding-top:60px">

    <div class="row">
      <div class="col-sm-11 center-block inner-top-xs">

        {{#unless challenges}}
          <p>There are no challenges at this time. Please check back and make sure to watch our <a href="http://www.topcoder.com/blog" target="_blank">blog</a> and <a href="http://www.twitter.com/topcoder" target="_blank">Twitter feed</a>.</p>
        {{/unless}}

        {{#if challenges}}

          <table class="table table-hover">
          <thead>
            <tr>
              <th>Challenge</th>
              <th></th>

              <th>Prizes</th>
            </tr>
          </thead>
          <tbody>
            {{#each challenges}}
            <tr>
              <td>
                <a href="http://www.topcoder.com/challenge-details/{{this.Topcoder_Project_Id}}?type={{this.Type}}" target="_blank">{{this.Title}}</a>

               </td>
              <td></td>

              <td>${{this.Total_Prize}}</td>
            </tr>
            {{/each}}
          </tbody>
          </table>

        {{/if}}

      </div><!-- /.col -->
    </div><!-- /.row -->

</div><!-- /.container -->

{{> bluemix_signup}}
