
<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="img-bg-bottom img-bg-soft tint-bg" style="background-image: url(https://farm9.staticflickr.com/8451/8050815886_98ea5b411f_b.jpg);">
  <div class="container inner">
    <div class="row">
      <div class="col-sm-10">
        <header>
          <h1>Development<br/>Leaderboard</h1>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->


<!-- ============================================================= SECTION – TEAM ============================================================= -->

<section id="team" class="light-bg">
	<div class="container inner-top inner-bottom-sm">

		<div class="row">
			<div class="col-md-8 col-sm-10 center-block text-center">
				<header>
					<h1>IBM Bluemix Top Developers</h1>
					<p>The top SiBM developers are highlighted each month.  The top 10 competitors won cash prizes and were recognized in this leaderboard and in monthly SiBM blogs to the Topcoder community.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
</section>

<section id="services">
  <div class="container inner">
    <div class="row">
      <div class="col-xs-12">
        <div class="tabs tabs-services tabs-circle-top tab-container">

          <ul class="etabs text-center">
            <li class="tab"><a href="#tab-1">June</a></li>
            <li class="tab"><a href="#tab-2">July</a></li>
            <li class="tab"><a href="#tab-3">August</a></li>
			      <li class="tab"><a href="#tab-4">September</a></li>
            <li class="tab"><a href="#tab-5">October</a></li>
            <li class="tab"><a href="#tab-6">November</a></li>
            <li class="tab"><a href="#tab-7">December</a></li>   
          </ul>
          <div class="panel-container">

            <div class="tab-content" id="tab-1">
              <div class="row">
                <div class="row inner-top-sm text-center">
                  {{> leaderboard leaders=month1}}
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->

            <div class="tab-content" id="tab-2">
              <div class="row">
                <div class="row inner-top-sm text-center">
                  {{> leaderboard leaders=month2}}
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->

            <div class="tab-content" id="tab-3">
              <div class="row">
                <div class="row inner-top-sm text-center">
                  {{> leaderboard leaders=month3}}
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
			
			     <div class="tab-content" id="tab-4">
              <div class="row">
                <div class="row inner-top-sm text-center">
                   {{> leaderboard leaders=month4}}
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            
           <div class="tab-content" id="tab-5">
              <div class="row">
                <div class="row inner-top-sm text-center">
                  {{> leaderboard leaders=monthOct}}
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            
           <div class="tab-content" id="tab-6">
              <div class="row">
                <div class="row inner-top-sm text-center">
                  {{> leaderboard leaders=monthNov}}
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            
            <div class="tab-content" id="tab-7">
              <div class="row">
                <div class="row inner-top-sm text-center">
                  {{> leaderboard leaders=monthDec}}
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
			
          </div><!-- /.panel-container -->

        </div><!-- /.tabs -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – TEAM : END ============================================================= -->

{{> bluemix_signup}}
