
<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->

<section id="who-we-are">
  <div class="container inner-top inner-bottom-sm">

    <div class="row">
      <div class="col-md-8 col-sm-9 center-block text-center">
        <header>
          <h1>FAQs</h1>
          <p>If you don't see your question answered here, drop us a line on the message board.</p>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row inner-top-sm">

      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-help icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-md-5 inner-bottom-xs">
        <h2>How do I sign up for IBM Bluemix?</h2>
        <p class="text-small">We have a special signup process for topcoder members. See our <a href="/signup">Sign up for IBM Bluemix page</a> for complete instructions.</p>
      </div><!-- /.col -->

      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-help icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-md-5 inner-bottom-xs">
        <h2>How do I install the CLI</h2>
        <p class="text-small">You'll need to install the CLI to push your code to IBM Bluemix. You can download and install the CLI from <a href="https://github.com/cloudfoundry/cli" target="_blank">this github repo</a>.</p>
      </div><!-- /.col -->

    </div><!-- /.row -->

    <div class="row inner-top-sm">

      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-help icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-md-5 inner-bottom-xs">
        <h2>How does the IBM Bluemix ORG structure work?</h2>
        <p class="text-small">When you sign up for IBM Bluemix it spins up an ORG for you. Within that ORG you can have multiple spaces for your apps. You can create multiple spaces ("Watson apps" or "Java apps") that contain your individual apps.</p>
      </div><!-- /.col -->

      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-help icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-md-5 inner-bottom-xs">
        <h2>I have question about IBM Bluemix in general. What do I go for answers?</h2>
        <p class="text-small">Take a look at the Resources menu above and if you don't find what you are looking for, feel free to post the question on the message board. Challenge related questions should be posted on the message baord for that particular challenge.</p>
      </div><!-- /.col -->

    </div><!-- /.row -->

  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->

<!-- ============================================================= SECTION – GET STARTED ============================================================= -->

<section id="get-started" class="tint-bg">
  <div class="container inner-sm" style="padding-top:20px;padding-bottom:20px">
    <div class="row">
      <div class="col-sm-11 center-block text-center">
        <h1 class="single-block">Not a topcoder member? <a href="https://www.topcoder.com/?action=showlogin&next={{registerReturnUrl}}" class="btn btn-large">Sign Up Now</a></h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – GET STARTED : END ============================================================= -->

{{> bluemix_signup}}
