<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero">
  <div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">

    <div class="item" style="background-image: url(https://farm8.staticflickr.com/7544/15644457659_3e3536f219_h.jpg);">
      <div class="container">
        <div class="caption vertical-center text-center">

          <h1 class="fadeInDown-1 light-color">$500,000 in Cash Prizes</h1>
          <p class="fadeInDown-2 light-color">Compete in topcoder design and development challenges over the next<br/>4 months for fame and fortune.</p>
          <div class="fadeInDown-3">
            <a href="/welcome" class="btn btn-large">Get started now</a>
          </div><!-- /.fadeIn -->

        </div><!-- /.caption -->
      </div><!-- /.container -->
    </div><!-- /.item -->

    <div class="item" style="background-image: url(https://farm9.staticflickr.com/8654/15828425472_af3f5ccca6_b.jpg);">
      <div class="container">
        <div class="caption vertical-top text-right">

          <h1 class="fadeIn-1 dark-bg light-color"><span>Design<br>for IBM Bluemix</span></h1>
          <p class="fadeIn-2 light-color">The early part of Spring into Bluemix will<br/>offer designers plenty of ways to compete.</p>
          <div class="fadeIn-3">
            <a href="/welcome" class="btn btn-large">Learn More</a>
          </div><!-- /.fadeIn -->

        </div><!-- /.caption -->
      </div><!-- /.container -->
    </div><!-- /.item -->

    <div class="item" style="background-image: url(https://farm8.staticflickr.com/7481/15825179821_0e7f16c3fc_h.jpg);">
      <div class="container">
        <div class="caption vertical-center text-left">

          <h1 class="fadeInRight-1 dark-bg light-color"><span>Build <br>Real World Solutions</span></h1>
          <p class="fadeInRight-2 light-color">Use IBM Bluemix to build real world application with the latest technologies.</p>
          <div class="fadeInRight-3">
            <a href="/welcome#tab-2" class="btn btn-large">Learn More</a>
          </div><!-- /.fadeIn -->

        </div><!-- /.caption -->
      </div><!-- /.container -->
    </div><!-- /.item -->

    <div class="item" style="background-image: url(https://farm8.staticflickr.com/7474/15629072648_20f290a339_b.jpg);">
      <div class="container">
        <div class="caption vertical-center text-center">

          <h1 class="fadeInDown-1 light-color">Code Blitz!</h1>
          <p class="fadeInDown-2 light-color">The more you win the more (extra) money you'll make!</p>
          <div class="fadeInDown-3">
            <a href="/codeblitz" class="btn btn-large">Learn More</a>
          </div><!-- /.fadeIn -->

        </div><!-- /.caption -->
      </div><!-- /.container -->
    </div><!-- /.item -->

  </div><!-- /.owl-carousel -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->


<!-- ============================================================= SECTION – GET STARTED ============================================================= -->

<section id="get-started" class="tint-bg">
  <div class="container inner-sm" style="padding-top:20px;padding-bottom:20px">
    <div class="row">
      <div class="col-sm-11 center-block text-center">
        <h1 class="single-block">Not a topcoder member? <a href="https://www.topcoder.com/?action=showlogin&next={{registerReturnUrl}}" class="btn btn-large">Sign Up Now</a></h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – GET STARTED : END ============================================================= -->


<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->

<section id="who-we-are">
  <div class="container inner-top inner-bottom-sm">

    <div class="row">
      <div class="col-md-8 col-sm-9 center-block text-center">
        <header>
          <h1>IBM Bluemix</h1>
          <p>IBM Bluemix is a cloud platform as a service, running on Cloud Foundry.  It supports several programming languages and services as well as integrated DevOps to build, run, deploy and manage applications on the cloud.  Bluemix supports several programming languages including Java, Node.js, Go, PHP, Python and Ruby and can be easily extended to support other languages.</p>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row inner-top-sm">

      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-cog-alt icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-md-3 inner-bottom-xs">
        <h2><a href="https://console.ng.bluemix.net/home/#bluemix-build" target="_blank">Build your apps, your way</a></h2>
        <p class="text-small">Power your apps with instant runtimes, IBM containers (via Docker) or VMs then let Bluemix handle the rest.</p>
      </div><!-- /.col -->

      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-rocket icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-md-3 inner-bottom-xs">
        <h2><a href="https://console.ng.bluemix.net/?ace_base=true/#/store/cloudOEPaneId=store" target="_blank">Extend apps with services</a></h2>
        <p class="text-small">Choose from IBM, third-party, and community services to extend the functionality of your apps.</p>
      </div><!-- /.col -->

      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-star-empty-1 icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-md-3 inner-bottom-xs">
        <h2><a href="https://console.ng.bluemix.net/solutions/watson" target="_blank">Watson</a></h2>
        <p class="text-small">Build cognitive apps that help enhance, scale, and accelerate human expertise.</p>
      </div><!-- /.col -->

    </div><!-- /.row -->

    <div class="row inner-top-sm">

      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-mobile icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-md-3 inner-bottom-xs">
        <h2><a href="https://console.ng.bluemix.net/solutions/mobilefirst" target="_blank">MobileFirst</a></h2>
        <p class="text-small">The IBM MobileFirst Platform is the enterprise experience for building multi-platform, native or hybrid, Android and iOS apps.</p>
      </div><!-- /.col -->

      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-cloud icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-md-3 inner-bottom-xs">
        <h2><a href="https://console.ng.bluemix.net/solutions/hybrid-cloud" target="_blank">Hybrid Cloud</a></h2>
        <p class="text-small">Bluemix helps companies to move with speed and agility across any combination of public, private, and on-premises cloud.</p>
      </div><!-- /.col -->

      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-key-1 icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-md-3 inner-bottom-xs">
        <h2><a href="https://console.ng.bluemix.net/solutions/security" target="_blank">Security by design</a></h2>
        <p class="text-small">Protect access to apps and workloads, scan apps for vulnerabilities and protect your data.</p>
      </div><!-- /.col -->

    </div><!-- /.row -->

    <div class="row inner-top-sm">

      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-tools icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-md-3 inner-bottom-xs">
        <h2><a href="https://console.ng.bluemix.net/solutions/devops" target="_blank">DevOps</a></h2>
        <p class="text-small">Develop, track, plan, deploy, monitor, and scale: the right tools, in one place.</p>
      </div><!-- /.col -->

      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-chart-area icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-md-3 inner-bottom-xs">
        <h2><a href="https://console.ng.bluemix.net/solutions/bigdata" target="_blank">Big Data</a></h2>
        <p class="text-small">Empower developers to rapidly derive insight from all data and extend decision making across the enterprise.</p>
      </div><!-- /.col -->

      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-infinity icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-md-3 inner-bottom-xs">
        <h2><a href="https://console.ng.bluemix.net/solutions/iot" target="_blank">Internet of Things</a></h2>
        <p class="text-small">Rapidly compose and extend apps that take advantage of data and analytics from your connected devices and sensors.</p>
      </div><!-- /.col -->

    </div><!-- /.row -->

  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->

{{> bluemix_signup}}

<!-- ============================================================= SECTION – TESTIMONIALS ============================================================= -->

<section id="testimonials" class="light-bg img-bg-softer" style="background-image: url(/images/art/pattern-background01.jpg);">
  <div class="container inner" style="padding-top:50px;padding-bottom:50px">

    <div class="row">
      <div class="col-md-10 col-sm-11 center-block text-center">
        <header>
          <h1>Top companies turn to topcoder to challenge and find the best of the best.</h1>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-md-8 col-sm-9 center-block text-center">
        <div id="owl-testimonials" class="owl-carousel owl-outer-nav owl-ui-md">

          <div class="item">
            <blockquote>
              <p>I’ve been member for over 2 years, and I wish I’d known about it before.</p>
              <footer>
                <cite>supercharger, Development</cite>
              </footer>
            </blockquote>
          </div><!-- /.item -->

          <div class="item">
            <blockquote>
              <p>You have to solve a lot of problems to become really successful.</p>
              <footer>
                <cite>petr, Data Science</cite>
              </footer>
            </blockquote>
          </div><!-- /.item -->

          <div class="item">
            <blockquote>
              <p>I came in as a graphic designer hobbyist. I became a Project Manager and UI/UX consultant.</p>
              <footer>
                <cite>mahestro, Design</cite>
              </footer>
            </blockquote>
          </div><!-- /.item -->

        </div><!-- /.owl-carousel -->
      </div><!-- /.col -->
    </div><!-- /.row -->

  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – TESTIMONIALS : END ============================================================= -->


<!-- ============================================================= SECTION – SERVICES ============================================================= -->
{{!--}}
<section id="services">
  <div class="container inner-top inner-bottom-sm">

    <div class="row">
      <div class="col-md-8 col-sm-9 center-block text-center">
        <header>
          <h1>Topcoder awards over $25,000 a day in challenge prize money.</h1>
          <p>The topcoder community gathers the world’s experts in design, development and data science to work on interesting and challenging problems for fun and reward. We want to help topcoder members improve their skills, demonstrate and gain reward for their expertise, and provide the industry with objective insight on new and emerging technologies.</p>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row inner-top-sm text-center">

      <div class="col-sm-4 inner-bottom-xs">
        <div class="icon">
          <img src="/images/ico-sd.png">
        </div><!-- /.icon -->
        <h2>Development</h2>
        <p class="text-small">Ready to compete with code in the cloud and win cash? Compete in public application development challenges to win cash, earn achievements, and fine tune your skills.</p>
      </div><!-- /.col -->

      <div class="col-sm-4 inner-bottom-xs">
        <div class="icon">
          <img src="/images/ico-an.png">
        </div><!-- /.icon -->
        <h2>Data Science</h2>
        <p class="text-small">Test your skills on algorithm problems involving machine learning, graph theory, optimizations, recursion, dynamic programming and much more by competiting in Single Round Matches (SRMs) and Marathon Matches.</p>
      </div><!-- /.col -->

      <div class="col-sm-4 inner-bottom-xs">
        <div class="icon">
          <img src="/images/ico-ux.png">
        </div><!-- /.icon -->
        <h2>Graphic Design</h2>
        <p class="text-small">Compete in all types of design challenges to win prize money and establish your street cred. Improve your portfolio while working on real world projects for big-name clients.</p>
      </div><!-- /.col -->

    </div><!-- /.row -->

  </div><!-- /.container -->
</section>
{{--}}

<!-- ============================================================= SECTION – SERVICES : END ============================================================= -->
