<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Spring into Bluemix</title>

		<!-- Bootstrap Core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!-- Customizable CSS -->
		<link href="/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
		<link href="/css/blue.css" rel="stylesheet" title="Color">
		<link href="/css/owl.carousel.css" rel="stylesheet">
		<link href="/css/owl.transitions.css" rel="stylesheet">
		<link href="/css/animate.min.css" rel="stylesheet">

		<!-- Fonts -->
		<link href="/css/lato.css" rel="stylesheet">
		<link href="/css/sanspro.css" rel="stylesheet">

		<!-- Icons/Glyphs -->
		<link href="/fonts/fontello.css" rel="stylesheet">

		<!-- Favicon -->
		<link rel="shortcut icon" href="/images/favicon.ico">

		<!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
		<!--[if lt IE 9]>
			<script src="/js/html5shiv.js"></script>
			<script src="/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<!-- ============================================================= HEADER ============================================================= -->

		<header>
			<div class="navbar">

				<div class="navbar-header">
					<div class="container">

						<!-- ============================================================= LOGO MOBILE ============================================================= -->

						<a class="navbar-brand" href="/"><img src="/images/logo-bluemix.png" class="logo" alt="topcoder"></a>

						<!-- ============================================================= LOGO MOBILE : END ============================================================= -->

						<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>

					</div><!-- /.container -->
				</div><!-- /.navbar-header -->

				<div class="yamm">
					<div class="navbar-collapse collapse">
						<div class="container">

							<!-- ============================================================= LOGO ============================================================= -->

							<a class="navbar-brand" href="/"><img src="/images/logo-bluemix.png" class="logo" alt="topcoder"></a>

							<!-- ============================================================= LOGO : END ============================================================= -->


							<!-- ============================================================= MAIN NAVIGATION ============================================================= -->

							<ul class="nav navbar-nav">

								<li class="dropdown">
									<a href="#" class="dropdown-toggle js-activated">Compete</a>
									<ul class="dropdown-menu">
										<li class="dropdown-submenu">
											<a href="#">Design</a>
											<ul class="dropdown-menu">
												<li><a href="/design/challenges">Challenges</a></li>
												<li><a href="/design/leaderboard">Leaderboard</a></li>
											</ul><!-- /.dropdown-menu -->
										</li><!-- /.dropdown-submenu -->

										<li class="dropdown-submenu">
											<a href="#">Development</a>
											<ul class="dropdown-menu">
												<li><a href="/development/challenges">Challenges</a></li>
												<li><a href="/development/leaderboard">Leaderboard</a></li>
											</ul><!-- /.dropdown-menu -->
										</li><!-- /.dropdown-submenu -->
										<li><a href="/codeblitz">Code Blitz</a></li>

									</ul><!-- /.dropdown-menu -->
								</li><!-- /.dropdown -->

								<li class="dropdown">
									<a href="#" class="dropdown-toggle js-activated">Getting Started</a>
									<ul class="dropdown-menu">
										<li><a href="/welcome">Welcome!</a></li>
										<li><a href="/signup">Sign up for IBM Bluemix</a></li>
										<li><a href="/challenges/fun">Build your first app!</a></li>
									</ul><!-- /.dropdown-menu -->
								</li><!-- /.dropdown -->

								<li class="dropdown">
									<a href="#" class="dropdown-toggle js-activated">About</a>
									<ul class="dropdown-menu">
										<li><a href="https://www.ng.bluemix.net/docs/#overview/overview.html" target="_blank">IBM Bluemix Overview</a></li>
										<li><a href="/sponsors">Sponsors</a></li>
									</ul><!-- /.dropdown-menu -->
								</li><!-- /.dropdown -->

								<li class="dropdown">
									<a href="#" class="dropdown-toggle js-activated">Resources</a>
									<ul class="dropdown-menu">
										<li class="dropdown-submenu">
											<a href="#">IBM Resources</a>
											<ul class="dropdown-menu">
												<li><a href="http://www.ibm.com/developerworks/cloud/bluemix/quick-start-bluemix.html" target="_blank">Quick-start demos</a></li>
												<li><a href="https://developer.ibm.com/bluemix/#howto" target="_blank">Developer Community Tutorials</a></li>
												<li><a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/getstarted.html" target="_blank">Watson</a></li>
											</ul><!-- /.dropdown-menu -->
										</li><!-- /.dropdown-submenu -->
										<li><a href="/faqs">FAQs</a></li>
										<li><a href="http://apps.topcoder.com/forums/?module=ThreadList&forumID=595816">Message Board</a></li>
										<li><a href="http://stackoverflow.com/questions/tagged/bluemix" target="_blank">Stack Overflow</a></li>
									</ul><!-- /.dropdown-menu -->
								</li><!-- /.dropdown -->

							</ul><!-- /.nav -->

							<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

						</div><!-- /.container -->
					</div><!-- /.navbar-collapse -->
				</div><!-- /.yamm -->
			</div><!-- /.navbar -->
		</header>

		<!-- ============================================================= HEADER : END ============================================================= -->


		<!-- ============================================================= MAIN ============================================================= -->

		<main>
			{{{body}}}
		</main>

		<!-- ============================================================= MAIN : END ============================================================= -->


		<!-- ============================================================= FOOTER ============================================================= -->

		<footer class="dark-bg">

			<div class="footer-bottom">
				<div class="container inner">
					<p class="pull-left">© 2015 Appirio. All rights reserved.</p>
				</div><!-- .container -->
			</div><!-- .footer-bottom -->
		</footer>

		<!-- ============================================================= FOOTER : END ============================================================= -->

		<!-- JavaScripts placed at the end of the document so the pages load faster -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.easing.1.3.min.js"></script>
		<script src="/js/jquery.form.js"></script>
		<script src="/js/jquery.validate.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap-hover-dropdown.min.js"></script>
		<script src="/js/skrollr.min.js"></script>
		<script src="/js/skrollr.stylesheets.min.js"></script>
		<script src="/js/waypoints.min.js"></script>
		<script src="/js/waypoints-sticky.min.js"></script>
		<script src="/js/owl.carousel.min.js"></script>
		<script src="/js/jquery.isotope.min.js"></script>
		<script src="/js/jquery.easytabs.min.js"></script>
		<script src="/js/viewport-units-buggyfill.js"></script>
		<script src="/js/scripts.js"></script>
		<script src="/js/validator.min.js"></script>

		<!-- OnScroll CSS3 Animations for Modern Browsers and IE10+ -->
		<!--[if !IE]> -->
			<script src="/js/onscroll.js"></script>
		<!-- <![endif]-->
	</body>
</html>
