<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="light-bg img-bg img-bg-softer" style="background-image: url(https://farm9.staticflickr.com/8259/15825061491_528acd4baa_c.jpg);">
  <div class="container inner" style="padding-top:40px;padding-bottom:40px">
    <div class="row">
      <div class="col-md-8">
        <header>
          <h1>Sign Up for IBM Bluemix</h1>
          <p>We have some special stuff for topcoder members, so follow the instructions below.</p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->

<div class="container inner" style="padding-top:60px">
  <div class="row">
    <div class="col-md-10 inner-right-md">

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu tellus nec nisi bibendum efficitur. Maecenas condimentum urna at sodales varius. Fusce ac ultrices neque, in sagittis sapien. Quisque sem mauris, dapibus eu elit non, consequat ullamcorper lectus. Morbi sodales ante eu ipsum facilisis ornare. Quisque leo ex, feugiat vitae diam quis, rutrum tincidunt dui. Sed bibendum mattis luctus.</p>

      <p>Nulla facilisi. Nulla neque lorem, mollis sit amet malesuada hendrerit, elementum a urna. Donec nulla est, congue et libero quis, ornare cursus sapien. Proin eget congue magna, vel euismod est. Proin et cursus augue, nec sollicitudin augue. Curabitur vehicula nibh nunc. Cras feugiat ac elit dignissim placerat. Ut porttitor malesuada erat. Duis lacinia tempor euismod. Suspendisse tortor eros, feugiat vitae convallis maximus, volutpat id massa. Suspendisse potenti. Aliquam dui lacus, venenatis at lacinia sit amet, egestas blandit leo. Vivamus laoreet erat nec odio dictum dapibus.</p>

    </div><!-- /.col -->
  </div><!-- /.row -->

  <div class="row" style="padding-top:25px">

    <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
      <figure><img src="http://demo.fuviz.com/reen/v1-2-1/assets/images/art/product05.jpg" alt=""></figure>
    </div><!-- /.col -->

    <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
      <h3>Create an IBM id</h3>
      <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
    </div><!-- /.col -->

  </div><!-- /.row -->

  <div class="row" style="padding-top:25px">

    <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
      <figure><img src="http://demo.fuviz.com/reen/v1-2-1/assets/images/art/product04.jpg" alt=""></figure>
    </div><!-- /.col -->

    <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
      <h3>Signup for IBM Bluemix</h3>
      <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
    </div><!-- /.col -->

  </div><!-- /.row -->

  <div class="row" style="padding-top:25px">

    <div class="row">
      <div class="col-sm-8 center-block text-center inner-top-xs">
        <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
      </div><!-- /.col -->
    </div><!-- /.row -->

  </div><!-- /.row -->

</div><!-- /.container -->

<!-- ============================================================= SECTION – GET STARTED ============================================================= -->

<section id="get-started" class="tint-bg">
  <div class="container inner-sm" style="padding-top:20px;padding-bottom:20px">
    <div class="row">
      <div class="col-sm-11 center-block text-center">
        <h1 class="single-block">Not a topcoder member? <a href="https://www.topcoder.com/?action=showlogin&next={{registerReturnUrl}}" class="btn btn-large">Sign Up Now</a></h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – GET STARTED : END ============================================================= -->
