<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="img-bg-bottom img-bg-soft tint-bg" style="background-image: url(https://farm9.staticflickr.com/8259/15825061491_528acd4baa_c.jpg);">
  <div class="container inner">
    <div class="row">
      <div class="col-md-8">
        <header>
          <h1>Sign Up for IBM Bluemix</h1>
          <p>We have a special process for topcoder members, so follow the instructions below.</p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->


<div class="container inner" style="padding-top:50px;padding-bottom:0px">
  <div class="row">
    <div class="col-md-10 inner-right-md">

      <p>For development, we'll be of course using IBM Bluemix for essentially all of series challenges. Therefore, each developer will need to setup their own free IBM Bluemix account.
        We've worked with the IBM team to make sure that your account does not expire and will not be charged for approved services. Getting access to IBM Bluemix is a simple two step process.
        First, create an IBM id (if you don't have one) and then sign up for IBM Bluemix.</p>

      <p>If you have any problems during the signup process please <a href="http://apps.topcoder.com/forums/?module=ThreadList&forumID=595816" target="_blank">post them topcoder message board</a>.</p>

    </div><!-- /.col -->
  </div><!-- /.row -->


  <!-- ============================================================= SECTION – PRODUCT ============================================================= -->

  <section>
    <div class="container inner" style="padding-top:50px">

      <div class="row">

        <div class="col-sm-6 col-sm-push-6 inner-left-xs">
          <figure><a href="https://apps.admin.ibmcloud.com/manage/trial/bluemix.html?cm_mmc=dw-_-bluemix-_-ifundit-_-topcoder" target="_blank"><img src="/images/signup-ibmid.png" alt="" style="padding-top:100px"></a></figure>
        </div><!-- /.col -->

        <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
          <h2>Create your IBM id</h2>
          <p>The first thing you'll need to do is create an IBM id which will let you sign into IBM Bluemix. You'll want to use the same email address for your IBM id that is associated with your topcoder account. This id can also be used to sign into other IBM services and is not tied to the topcoder challenge series uniquely.</p>
          <p>After signing up you'll need to validate your email address. The email you receive from IBM states that your trial is only good for 30 but we've extended that indefinitely.</p>
          <p>If you already have an IBM id then you can skip this step and simply signup for IBM Bluemix by clicking the "Already have an IBM id?" link.</p>
          <a href="https://apps.admin.ibmcloud.com/manage/trial/bluemix.html?cm_mmc=dw-_-bluemix-_-ifundit-_-topcoder" class="txt-btn">IBM Bluemix Trial Signup</a>
        </div><!-- /.col -->

      </div><!-- /.row -->

      <div class="row inner-top-md" style="padding-top:25px">

        <div class="col-sm-6 col-sm-push-6 inner-left-xs">
          <figure><a href="https://apps.admin.ibmcloud.com/manage/trial/bluemix.html?cm_mmc=dw-_-bluemix-_-ifundit-_-topcoder" target="_blank"><img src="/images/signup-bluemix.png" alt="" style="padding-top:75px"></a></figure>
        </div><!-- /.col -->

        <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
          <h2>Sign up for IBM Bluemix</h2>
          <p>Clicking on the "Validate Email Address" button from the signup confirmation email or clicking the "Already have an IBM id?" link on the signup page will display the signup form
          for IBM Bluemix.</p>
          <p>If you receive the message <i>This service has already been added to your account</i> when entering your email address, then you have automatically been provisioned for IBM Bluemix and you can skip this step.</p>
          <a href="https://apps.admin.ibmcloud.com/manage/trial/bluemix.html?cm_mmc=dw-_-bluemix-_-ifundit-_-topcoder" class="txt-btn">IBM Bluemix Trial Signup</a>
        </div><!-- /.col -->

      </div><!-- /.row -->

      <div class="row inner-top-md" style="padding-top:25px">

        <div class="col-sm-6 col-sm-push-6 inner-left-xs">
          <figure><a href="https://www-947.ibm.com/account/userservices/jsp/login.jsp" target="_blank"><img src="/images/signup-login.png" alt="" style="padding-top:25px"></a></figure>
        </div><!-- /.col -->

        <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
          <h2>Login to IBM Bluemix</h2>
          <p>Now you are all set to log into the Bluemix console for your ORG. Once logged in, you can use your existing space (or create a new space) and start developing apps.</p>
          <p>You'll also want to ensure that you install and configure the </p>
          <a href="https://www-947.ibm.com/account/userservices/jsp/login.jsp" class="txt-btn">IBM Bluemix Login</a>
        </div><!-- /.col -->

      </div><!-- /.row -->

      <div class="row inner-top-md" style="padding-top:25px">

        <div class="col-sm-6 col-sm-push-6 inner-left-xs">
          <figure><img src="/images/signup-cli.png" alt="" style="padding-top:75px"></figure>
        </div><!-- /.col -->

        <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
          <h2>Install the CLI</h2>
          <p>You'll need to install the Cloud Foundry CLI in order to push your code to IBM Bluemix. You can <a href="https://github.com/cloudfoundry/cli#downloads" target="_blank">download the CLI from the gitub repo</a> and follow the simple installation instructions.</p>
          <p>Once installed you can run <b>cf login</b> to login and get started.</p>
          <a href="https://github.com/cloudfoundry/cli#downloads" class="txt-btn">Install the CLI</a>
        </div><!-- /.col -->

      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – PRODUCT : END ============================================================= -->

</div><!-- /.container -->

<section id="get-started" class="tint-bg">
  <div class="container inner-sm" style="padding-top:20px;padding-bottom:20px">
    <div class="row">
      <div class="col-sm-11 center-block text-center">
        <h1 class="single-block">Ready to build your first app? <a href="/challenges/fun" class="btn btn-large">get started</a></h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
