
<!-- ============================================================= SECTION – SERVICES ============================================================= -->

<section id="services">
  <div class="container inner-top inner-bottom-sm" style="padding-top:50px">

    <div class="row">
      <div class="col-md-9 col-sm-10 center-block text-center">
        <header>
          <h1>Sponsors</h1>
          <p>Want to prove your worth or beef up your resume? Here’s your chance to do so while earning some significant cash. Nothing’s better than experience building real apps for real customers, and we have great sponsors across IBM that want to build stuff like POCs and production quality apps! None of this is possible without a team of awesome sponsors like the ones you see below; a big round of applause to them for making it happen!</p>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row inner-top-sm">

      <div class="col-sm-2">
        <div class="icon pull-right">
          <img src="/images/ifundit-logo.png" width="150">
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-sm-4 inner-bottom-sm">
        <h2>IBM ifundIT</h2>
        <p class="text-small">a "Kickstarter" like model for crowd sourcing corporate information technology projects. ifundIT gives IBM employees a platform to propose new internal tools and have funding determined by a group of IBMers with access to a pool of funds. <b>It helps bring IBM IT ideas to life.</b></p>
      </div><!-- /.col -->

      <div class="col-sm-2">
        <div class="icon pull-right">
          <img src="/images/watson-logo.png" width="100">
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-sm-4 inner-bottom-sm">
        <h2>IBM Watson</h2>
        <p class="text-small">IBM Watson uses Cognitive Computing to tackle some of humanity's most challenging problems - like revolutionizing how doctors research cancer or transforming how businesses engage with their customers.</p>
      </div><!-- /.col -->

    </div><!-- /.row -->

  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SERVICES : END ============================================================= -->
