
<!-- ============================================================= SECTION – SERVICES ============================================================= -->

<section id="services">
  <div class="container inner-top inner-bottom-sm" style="padding-top:50px">

    <div class="row">
      <div class="col-md-9 col-sm-10 center-block text-center">
        <header>
          <h1>Sponsors</h1>
          <p>Want to prove your worth or beef up your resume? Here’s your chance to do so while earning some significant cash. Nothing’s better than experience building real apps for real customers, and we have great sponsors across IBM that want to build stuff like POCs and production quality apps! None of this is possible without a team of awesome sponsors like the ones you see below; a big round of applause to them for making it happen!</p>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row inner-top-sm">
      <div class="col-sm-4">
        <div class="icon pull-right">
          <img src="/images/ifundit-logo.png" width="150">
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-sm-6 inner-bottom-sm">
        <h2>IBM ifundIT</h2>
        <p class="text-small">IBM ifundIT is IBM's enterprise crowdfunding program that is being used to drive innovation inside the company. IBM employees around the world are making an impact by funding the creation of apps that make work easier -- from finding people who are socially influential, to analyzing how big an impact your internal app is having on fellow employees.</p>
        <p class="text-small">With 35+ projects run in parallel since December 2014 - mostly front end design - over 12 apps have come out of ifundIT so far, such as Lock Your Laptop, Play IBM, Park Up, IBM Classifieds, Learn and Earn and Quarter End Journey, which have been positively received.  With the Appirio Community as ifundIT's primary development channel in 2015, the Spring into Bluemix campaign will also be underway soon, with 30 apps completed in a turn around time of just 60 days each.</p>
      </div><!-- /.col -->

    </div><!-- /.row -->

    <div class="row inner-top-sm">

      <div class="col-sm-4">
        <div class="icon pull-right">
          <img src="/images/watson-logo.png" width="150">
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-sm-6 inner-bottom-sm">
        <h2>IBM Watson</h2>
        <p class="text-small">IBM Watson uses Cognitive Computing to tackle some of humanity's most challenging problems - like revolutionizing how doctors research cancer or transforming how businesses engage with their customers.</p>
      </div><!-- /.col -->

    </div><!-- /.row -->
	
	<div class="row inner-top-sm"> 
	 <div class="col-sm-4">
        <div class="icon pull-right">
          <img src="/images/ciomobile-logo.png" width="150">
        </div><!-- /.icon -->
      </div><!-- /.col -->

      <div class="col-sm-6 inner-bottom-sm">
        <h2>IBM CIO Mobile</h2>
        <p class="text-small">CIO Mobile drives the creation and deployment of IBM's comprehensive mobile ecosystem, delivering mobile capabilities to IBM employees, increasing client intimacy and productivity.  CIO Mobile creates the reference implementation of IBM products and services together with external, readily available DevOps utilities which contribute to IBM's mobile maturity state and leadership position.</p>
      </div><!-- /.col -->

    </div><!-- /.row -->
	
	

  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SERVICES : END ============================================================= -->
